<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uom.thebookstore.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginForm">
        <activity
            android:name="com.uom.thebookstore.ui.BuyPage"
            android:exported="true" />
        <activity
            android:name="com.uom.thebookstore.ui.BookPage"
            android:exported="true" />
        <activity
            android:name="com.uom.thebookstore.ui.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name="com.uom.thebookstore.ui.welcome_page"
            android:exported="true" />
        <activity
            android:name="com.uom.thebookstore.ui.signup_page"
            android:exported="true" />
        <activity
            android:name="com.uom.thebookstore.ui.start_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uom.thebookstore.ui.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>